# Build files
autom4te.cache/
config.log
config.status
Makefile
libtool
*/.deps
*/.libs
include/cjose/version.h
doc/Doxyfile

# Object files
*.o
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.la

# Executables
*.exe
*.out
*.app

# Documentation
doc/*.tag
doc/html
doc/latex

# Tests and logging
test/check_cjose
test/*.log
test/*.trs

# local edit and ide files
.swp
.tags
*.sublime-project
*.sublime-workspace
*-e
